.homePage-container {
    margin: 0 12.5vw;

    .app-titles {
        display: flex;
        justify-content: space-between;
    }

    .app-center {
        display: flex;
        justify-content: space-between;
    }
}